@import "tailwindcss";

:root {
    --primary-green-lighter: #9eb3a3;
    --primary-green-light: #355349;
    --primary-green-transparent: #12372acc;
    --primary-green-dark: #12372a;
    --primary-lime-light: #f1ffea;
    --primary-color: #f1c30c;

    --light-yellow: #faf8ec;

    --none-color: #c4c4c4;
    --border-light-gr: #ececec;
}

h1, h2, h3, h4 {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 { font-size: 5rem; line-height: 5rem; }
h2 { font-size: 4rem; line-height: 5rem; }
h3 { font-size: 3.25rem; line-height: 3.25rem; }
h4 { font-size: 2.5rem; line-height: 2.3rem; }
h5, h6 { font-family: "Urbanist", sans-serif; font-weight: 700; font-style: normal; }
h5 { font-size: 1.5rem; line-height: 1.5625rem; font-weight: 600;}
h6 { font-size: 1.25rem; line-height: 1.5625rem; }
p { font-family: "Inter", sans-serif; font-weight: 300; font-style: normal;}

a { font-family: "Inter", sans-serif; font-size: 1rem; line-height: 1.5rem; color: var(--primary-color);}


.inputField {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    border: 1px solid var(--primary-color); 
    border-radius: 5px;
    line-height: 1.5;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    vertical-align: top;
}

.block-label {
    display: block;
}

.inputField::placeholder {
    color: var(--primary-color);
    opacity: 1;
    font-weight: 300;
}

.body-text-standard { font-size: 1rem; line-height: 1.5rem; color: var(--primary-green-dark);}
.body-text-small { font-size: 0.8rem; line-height: 1.5rem; color: var(--primary-green-dark);}
.body-text-small-top { font-size: 0.8rem; line-height: 1.5rem; color: white;}
.body-text-medium { font-size: 1.125rem; line-height: 1.5rem; color: var(--primary-green-dark);}W

.body-text-bold { font-size: 1rem; line-height: 1.5rem; font-weight: 700; color: var(--primary-green-dark);}

.text-bold-acc {font-weight: 500;}

.col-primary {color: var(--primary-color);}
.col-bg-primary {background-color: var(--primary-color);}


.sectionGreenLight {
    background-color: var(--primary-green-light);
    width: 100%;
}

.sectionGreenLighter {
    background-color: var(--primary-green-lighter);
}

.sectionGreen {
    background-color: var(--primary-green-dark);
    width: 100%;
}

.sectionYellowLight {
    background-color: var(--light-yellow);
    width: 100%;
}


.buttonHover:hover {
    background-color: var(--primary-green-dark);
    color: white;
}

.buttonHoverLight:hover {
    background-color: white;
    color: var(--primary-green-dark);
}

.text-tiny {
    font-size: 0.5rem;
}

.text-green{
    color: var(--primary-green-dark);
}

.text-primary-bold{
    color: var(--primary-color);
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.bg-primary {
    background-color: var(--primary-color);
}

.btn-yellow {
    color:var(--primary-green-dark);
    font-weight: 600; 
}

.contactContainer{
    display: flex;
    gap: 2rem;
}

.darkBg{
    background-color: var(--primary-green-dark);
}

.topBarContainer{
    background-color: var(--primary-green-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}
.socialsContainer {
    display: flex;
    width: auto;
}
.socialsBadge{
    background-color: var(--primary-color);
    height: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0.2rem;
}

.socialsIcon {
    color: var(--primary-green-dark);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.linkActive {
    color: var(--primary-color);
    font-weight: 800;
}

.link {
    color: var(--primary-green-dark);
    font-weight: 600;
}

.link:hover {
    color: var(--primary-green-dark);
    font-weight: 800;
    text-decoration: underline dotted var(--primary-green-dark) 3px;
}

.heroContainer {
    background-color: var(--primary-green-light);
}

.border {border: 1px solid red;}

.heroSilhouette {
    background-image: url(assets/silhouette-man.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 40rem;
}

.silhouetteWoman {
    background-image: url(assets/silhouette-woman.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.aboutUsCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageCard{
    width: 100%;
    height: 25rem;
    border:3px solid var(--border-light-gr);
    background-color: var(--none-color);
}

.aboutUsCardBadge{
    position: relative;
    top: -40px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 90%;
    height: 110px;
    background-color:var(--primary-green-dark);
    border-radius: .5rem;
}

.badgeItem {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tileCard {
    border: 3px solid var(--border-light-gr);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--primary-green-dark);

    transition: border-color 0.5s ease;
}

.tileCard:hover {
    border: 3px solid var(--primary-color);
}

.infoBadgeContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.infoBadgeContainerSm {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.infoBadgeIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-green-dark);
    color: var(--primary-color);
    border-radius: 50%;
    height: 4rem;
    aspect-ratio: 1;
    
    svg { 
    height: 2rem;
    width: 2rem;
    }
}

.infoBadgeIconSm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-green-dark);
    color: var(--primary-color);
    border-radius: 50%;
    height: 3rem;
    aspect-ratio: 1;
    
    svg { 
    height: 1.5rem;
    width: 1.5rem;
    }
}

.dividerLine {
    display: block;
    height: 1px;
    background-color: black;
    width: 100%;
    flex-grow: 1;
}

.brandsContainer {
    background-color: var(--light-yellow);
    width: 100%;
    height: 6rem;
}

.brandItem{
    width: auto;
    height: auto;
}

.testimonialsWrapper {
	background-image: url('assets/bg/warehouse.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem; 
    width: 100%;
}

.testimonialsContainer {
    background-color: var(--primary-green-transparent);
    width: 100%;
    height: 100%;
}
.testimonialsContent {
    width: 100%;
    height: 100%;
}

.testimonialsCardWrapper {
    position: relative;
}

.testimonialsCardIcon {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    svg{
        color: var(--primary-color);
        width: 3rem;
        height: 3rem;
    }
}

.testimonialsCardAvatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--none-color);
}

.whyUsWrapper{
	background-color: var(--light-yellow);
	width: 100%;
}

.pricingCard {
	border-radius: .5rem;
	border:3px solid var(--border-light-gr);
	color: var(--primary-green-dark);
	background-color: var(--primary-lime-light);
}

.pricingCard:hover{
	background-color: var(--primary-green-dark);

	transition: background-color 0.5s ease;
}

.pricingCard:hover h5,
.pricingCard:hover li,
.pricingCard:hover hr,
.pricingCard:hover .body-text-standard,
.pricingCard:hover p
{
	color: white;
}

.pricingCard:hover svg,
.pricingCard:hover .body-text-pricing
{
	color: var(--primary-color);
}

.body-text-pricing {
	font-size: 3rem;
	font-family: "Urbanist", sans-serif; 
	font-weight: 700;
	color: var(--primary-color);
}

.pricingCard-dollarSign{
	
	svg {
		transform: translatey(-1.5rem);
		width: 1.5rem;
		height: 1.5rem;
		padding-right: 1rem;
	}
}

.pricingCardSeparator {
	margin: 1.5rem 0;
	background-color: var(--primary-green-dark);
}

.blogCard {
    background-color: var(--primary-green-dark);
    border-radius: .2rem;
}

.blogCard:hover {
	background-color: var(--primary-lime-light);
	transition: background-color 0.5s ease;
}

.blogCard:hover p,
.blogCard:hover h6 {
    color:var(--primary-green-dark);
    transition: color 0.5s ease;
}

.blogCardImage img {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.blogCard:hover .blogCardImage img {
    filter: none;
}

.blogCardImage {
    background-color: var(--none-color);
    border-radius: .2rem;
}

.blogCardImage img {
    filter: grayscale();
}

.blogCard-small-text {
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: white;
}


.accordionItemClosed {
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
    margin-bottom: 0rem;

    transition-property: max-height, padding, margin;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

.accordionItemOpen {
    max-height: 200px;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 0.5rem;

    transition-property: max-height, padding, margin;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

.accordion {
    background-color: var(--border-light-gr);
    transition: background-color 300ms ease-out, color 200ms ease-out;
}

.accordionActive {
    background-color: var(--primary-color);
    color:white;
    font-weight: 700;
    transition: background-color 300ms ease-in, color 200ms ease-in;
}