@import "tailwindcss";

:root {
    --primary-green-light: #355349;
    --primary-green-dark: #12372a;
    --primary-lime-light: #f1ffea;
    --primary-color: #f1c30c;
}

h1, h2, h3, h4 {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 { font-size: 5rem; line-height: 5rem; }
h2 { font-size: 4rem; line-height: 5rem; }
h3 { font-size: 3.25rem; line-height: 3.25rem; }
h4 { font-size: 1.5625rem; line-height: 1.5625rem; }
h5, h6 { font-family: "Urbanist", sans-serif; font-weight: 700; font-style: normal; }
h5 { font-size: 1.5rem; line-height: 1.5625rem; }
h6 { font-size: 1.25rem; line-height: 1.5625rem; }
p { font-family: "Inter", sans-serif; font-weight: 500; font-style: normal;}

.body-text-standard { font-size: 1rem; line-height: 1.5rem; }
.body-text-small { font-size: 0.8rem; line-height: 1.5rem; }
.body-text-medium { font-size: 1.125rem; line-height: 1.5rem; }

.bg-primary {
    background-color: var(--primary-color);
}

.btn-yellow {
    color:var(--primary-green-dark);
    font-weight: 600; 
}

.contactContainer{
    display: flex;
    gap: 2rem;
}

.topBarBg{
    background-color: var(--primary-green-dark);
}

.topBarContainer{
    background-color: var(--primary-green-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}
.socialsContainer {
    display: flex;
    width: auto;
}
.socialsBadge{
    background-color: var(--primary-color);
    height: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 0.5rem;
    padding: 0.2rem;
}

.socialsIcon {
    color: var(--primary-green-dark);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.linkActive {
    color: var(--primary-color);
}

.link {
    color: var(--primary-green-dark);
}